.checkbox-input_label {
	color: var(--var-dark-silver);
}

.checkbox-input {
	padding: var(--var-padding-s);
	position: relative;
	height: fit-content;
	background-color: #ffff;
	border: 1px solid #000000;
	overflow: hidden;
}

.checkbox-input::after {
	content: "";
	transition: background-color var(--var-transition-fast) ease;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	color: white;
	transform: translate(-50%, -50%);
}

.checkbox-input:checked::after {
	transition: background-color var(--var-transition-fast) ease;
	background-color: #000000;
}