/* Others */
@import url(./src/css/reset.css);
@import url(./src/css/variable.css);
@import url(./src/css/font.css);
@import url(./src/css/common.css);
/* Layout */
@import url(./src/css/flex-column.css);
@import url(./src/css/flex-row.css);
@import url(./src/css/position.css);
/* Elements */
@import url(./src/element/Button/Button.css);
@import url(./src/element/Checkbox/Checkbox.css);
@import url(./src/element/Empty/Empty.css);
@import url(./src/element/Error/Error.css);
@import url(./src/element/List/List.css);
@import url(./src/element/Select/Select.css);
@import url(./src/element/Text-Area/TextArea.css);
@import url(./src/element/Text-Input/TextInput.css);

main {
	padding: var(--var-padding-l);
}

.ecokompass-container {
	width: 40rem;
}

.ecokompass-section_container {
	background-color: #ffff;
	border: 1px solid #000000;
	box-shadow: 5px 5px 0 0 #000000;
}

.ecokompass-section_container > h2 {
	padding: var(--var-padding-m);
	margin-bottom: var(--var-margin-m);
	width: 100%;
	border-bottom: 1px solid #000000;
}

.ecokompass-section_body {
	padding: 0 var(--var-margin-m) var(--var-margin-m) var(--var-margin-m);
}

.ecokompass-pwa_tutorial_img {
	display: block;
	width: 15rem;
}

@media(width <= 400px) {
	.ecokompass-point_container {
		align-items: flex-start;
		flex-direction: column;
		gap: 0;
	}
	
	.ecokompass-point_inputs {
		width: 100%;
	}
}

.ecokompass-point_container:hover > .ecokompass-point_label {
	font-weight: 700;
}

.ecokompass-point_label {
	font-size: clamp(var(--var-font-l), 2.5vw, var(--var-font-xl));
}