/* Others */
@import url(./src/css/reset.css);
@import url(./src/css/variable.css);
@import url(./src/css/font.css);
@import url(./src/css/common.css);
/* Layout */
@import url(./src/css/flex-column.css);
@import url(./src/css/media-query.css);
@import url(./src/css/flex-row.css);
@import url(./src/css/position.css);
/* Elements */
@import url(./src/element/Button/Button.css);
@import url(./src/element/Checkbox/Checkbox.css);
@import url(./src/element/Text-Input/TextInput.css);
@import url(./src/element/Empty/Empty.css);
@import url(./src/element/Error/Error.css);
@import url(./src/element/List/ListItem.css);
@import url(./src/element/Select/Select.css);
@import url(./src/element/Text-Area/TextArea.css);
@import url(./src/element/Pagination/Pagination.css);

.ecokompass-container {
	padding: var(--var-padding-l);
	width: var(--var-main-container-size);
}

.ecokompass-point_label {
	font-size: clamp(var(--var-font-l), 2.5vw, var(--var-font-xl));
}

.ecokompass-goto_button {
	display: flex;
	align-items: center;
	justify-self: center;
	padding: var(--var-padding-s);
}