.ecokompass-description_name {
	font-size: var(--var-font-xl);
	font-weight: 700;
}

.ecokompass-section_container {
	background-color: #ffff;
	border: 1px solid #000000;
	box-shadow: 5px 5px 0 0 #000000;
}

.ecokompass-section_container > h2 {
	word-break: break-all;
	padding: var(--var-padding-m);
	margin-bottom: var(--var-margin-m);
	width: 100%;
	border-bottom: 1px solid #000000;
}

.ecokompass-section_body {
	padding: 0 var(--var-margin-m) var(--var-margin-m) var(--var-margin-m);
}
