/*================================*/

.flex-r-c-n-n {
	display: flex;
	justify-content: center;
}

/*================================*/

.flex-r-n-n-xs {
	gap: var(--var-gap-xs);
	display: flex;
}

.flex-r-c-c-xs {
	gap: var(--var-gap-xs);
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-r-n-c-xs {
	gap: var(--var-gap-xs);
	display: flex;
	align-items: center;
}

.flex-r-sb-c-xs {
	gap: var(--var-gap-xs);
	display: flex;
	justify-content: space-between;
	align-items: center;
}