/* DISPLAY | DIRECTION | JUSTIFY CONTENT | ALIGN ITEMS */

/*================================*/

.flex-c-n-n-n {
	display: flex;
	flex-direction: column;
}

.flex-c-n-n-xs {
	gap: var(--var-gap-xs);
	display: flex;
	flex-direction: column;
}

.flex-c-n-n-m {
	gap: var(--var-gap-m);
	display: flex;
	flex-direction: column;
}

/*================================*/

.flex-c-n-c-n {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*================================*/

.flex-c-c-c-n {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*================================*/