@font-face {
	font-family: "Poppins Regular";
	src: url(../fonts/Poppins-Regular.woff2);
}

@font-face {
	font-family: "Poppins Semi Bold";
	src: url(../fonts/Poppins-SemiBold.woff2);
}

@font-face {
	font-family: "Poppins Thin";
	src: url(../fonts/Poppins-Thin.woff2);
}

@font-face {
	font-family: "Poppins Medium";
	src: url(../fonts/Poppins-Medium.woff2);
}

@font-face {
	font-family: "Poppins Light";
	src: url(../fonts/Poppins-Light.woff2);
}