html,
body {
  -webkit-font-smoothing: antialiased;
	display: flex;
	flex-grow: 1;
  min-height: 100%;
	position: relative;
  text-rendering: optimizeSpeed;
  overscroll-behavior: none;
}

*, 
*::before, 
*::after {
	-moz-user-select: none;
	font-family: "Poppins Light";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-style: normal;
  line-height: inherit;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: normal;
  letter-spacing: normal;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  appearance: none;
  animation: none;
  transition: none;
  transform: none;
  list-style: none;
  pointer-events: auto;
  scrollbar-width: auto;
  scrollbar-color: auto;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
	display: flex;
  min-height: 100%;
  scroll-behavior: smooth;
}

input[type="checkbox"],
input[type="text"],
textarea {
	appearance: none;
}

input[type="number"]:focus,
input[type="number"]:hover,
input[type="number"] {
	appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}