.text-area {
	padding: var(--var-padding-s) var(--var-padding-l);	
	border: 1px solid #000000;
	background-color: #ffff;
	resize: none;
}

.text-area:hover {
	background-color: #c0c0c053;
}

.text-area::placeholder {
	font-size: var(--var-font-m);
	color: var(--var-dark-silver);
}